.console {
  $buttonSize: 3rem;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 2rem 1rem;

  .controller {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    @include transform(rotate(-45deg) translate(15%, 15%));
  }

  .button {
    margin: .125rem;
    border: 1px solid rgba($black, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: .2rem solid rgba($black, .3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    &:active {
      background-color: rgba($black, .2);
      border-bottom-width: 1px;
    }
  }

  .button1, .button2 {
    @extend .button;
    width: $buttonSize;
    height: $buttonSize;

    &:active {
      border-left-width: 1px;
    }
  }

  .button1 {
    border-left: .2rem solid rgba($black, .3);
  }

  .button2 {
    border-left: 1px solid rgba($black, .3);
  }

  .button3 {
    @extend .button;
    padding: 0 .25rem;
    font-size: .75rem;
  }
}
