#tetris {
  $pointSize: 10px;

  .point {
    position: absolute;
    width: $pointSize;
    height: $pointSize;
    border: 1px solid rgba(0, 0, 0, .5);
  }

  @for $i from 0 through 4 {
    [data-position-x='#{$i}'] {
      left: $i * $pointSize;
    }

    [data-position-y='#{$i}'] {
      bottom: $i * $pointSize;
    }
  }

  .allBlocks {
    .block {
      position: relative;
      margin: .125rem;
    }
  }

  .bt {
    width: 3 * $pointSize;
    height: 3 * $pointSize;
  }

  .bi {
    width: 4 * $pointSize;
    height: 4 * $pointSize;
  }

  .bs {
    width: 3 * $pointSize;
    height: 3 * $pointSize;
  }

  .bz {
    width: 3 * $pointSize;
    height: 3 * $pointSize;
  }

  .bl {
    width: 3 * $pointSize;
    height: 3 * $pointSize;
  }

  .bj {
    width: 3 * $pointSize;
    height: 3 * $pointSize;
  }

  .bo {
    width: 2 * $pointSize;
    height: 2 * $pointSize;
  }

  //  Colors
  $colors: (red, orange, yellow, green, blue, indigo, purple);
  @each $color in $colors {
    [data-color="#{$color}"] {
      background-color: $color;
    }
  }

  //  Yard
  .yard {
    margin: (4.5 * $pointSize) auto 0;
    position: relative;
    border: 1px solid rgba($black, .2);

    .block {
      position: absolute;
    }
  }
}
