#rootWrapper {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  @include boxShadow(0 1px 1px 1px rgba($black, .2));
}

.maxWidth500 {
  max-width: 500px !important;
}

#navbar {
  @include boxShadow(0 1px 1px 1px rgba($black, .2));
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $white;

  .body {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .logo {
    display: block;
    height: 1.5rem;
  }
}

#main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#loading {
  padding-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba($white, .9);

  .logo {
    display: block;
    height: 3rem;
  }

  .icon {
    padding: 1rem;
    color: #004D40;

    @for $i from 1 through 3 {
      [data-nth='#{$i}'] {
        -webkit-animation-delay: #{$i * 150}ms;
        -moz-animation-delay: #{$i * 150}ms;
        -o-animation-delay: #{$i * 150}ms;
        animation-delay: #{$i * 150}ms;
      }
    }
  }
}

@for $i from 1 through 24 {
  [data-fa-rotate='#{$i * 15}'] {
    -webkit-transform: rotate(#{$i * 15}deg);
    -moz-transform: rotate(#{$i * 15}deg);
    -ms-transform: rotate(#{$i * 15}deg);
    -o-transform: rotate(#{$i * 15}deg);
    transform: rotate(#{$i * 15}deg);
  }
}

.font-number {
  font-family: $font-share-tech-mono;
  font-size: 1.25rem;
}
