$font-orbitron: 'Orbitron', sans-serif;
$font-pangolin: 'Pangolin', sans-serif;
$font-share-tech-mono: 'Share Tech Mono', monospace;
$font-1: $font-orbitron;
$font-2: $font-pangolin;
$font-family-base: $font-1;

$black: #333;
$white: #fff;
